@import 'app/styles/variables.scss';

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  background: #ffffff;
}

.btn {
  background: $primary-element;
  border-radius: 64px;
  border: none;
  padding: 1.6rem 0;
  display: inline-block;
  width: 100%;

  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $primary-text;

  &:hover {
    background: $secondary-green;
  }
}

.title-primary {
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  color: $primary-text;
}

.bg-primary-block {
  background: $primary-block;
}

.bg-secondary-green {
  background: $secondary-green;
}

.bg-secondary-red {
  background: $secondary-red;
}

.bg-primary-element {
  background: $primary-element;
}

