@import 'app/styles/variables.scss';

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  background: #ffffff;
}

// main wrapper styles

main {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-wrap: wrap;
  }
}

section, header, footer {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {

  //.navigation-desktop {
  //  display: block !important;
  //}

  .desktop-container {
    flex-direction: row !important;
    height: 100vh;
    box-sizing: border-box;
  }

  .container {
    width: 90% !important;
    margin: 0 auto !important;
    border-left: 1px solid $primary-text;
    border-right: 1px solid $primary-text;
  }

  header, section, footer {
    width: 100%;
  }

  .main-section, .about-me {
    width: 50%;
  }
}

@media (orientation: landscape) and (max-width: 920px) {
  .desktop-container {
    height: initial !important;
  }
}

.btn {
  background: $primary-element;
  border-radius: 64px;
  border: none;
  padding: 1.6rem 0;
  display: inline-block;
  width: 100%;

  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $primary-text;

  &:hover {
    background: $secondary-green;
  }
}

.title-primary {
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  color: $primary-text;

  @media (min-width: 768px) {
    font-size: 4rem !important;
    text-align: center;
  }
}

.bg-primary-block {
  background: $primary-block;
}

.bg-secondary-green {
  background: $secondary-green;
}

.bg-secondary-red {
  background: $secondary-red;
}

.bg-primary-element {
  background: $primary-element;
}

.payment__buttons {
  a {
    width: 100%;
    display: inline-block;
    background: $primary-text;
    text-align: center;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0;
    transition: all 0.3ms ease;

    svg {
      margin-left: 3rem;
    }

    &:hover {
      background: #ffffff;
      color: $primary-text;

      svg path {
        fill: $primary-text;;
      }
    }
  }
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  max-width: 1000px;
  margin: 0 auto;
  //height: 100vh;

  &__title {
    font-family: $secondary-font;
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: $primary-text;
    margin-bottom: 3rem;
  }

  &__container {


  }

  &__description {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $primary-text;
    margin-bottom: 3rem;
    padding: 0 3rem;

    &-title {
      font-family: $primary-font;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 2.4rem;
      width: 100%;
      color: $primary-text;
      margin-bottom: 1rem;

      b {
        font-weight: 700;
        font-size: inherit;
      }
    }

    &-price {
      font-family: $primary-font;
      font-style: normal;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 2.4rem;
      color: $primary-text;
      margin-bottom: 1rem;

      b {
        font-weight: 700;
        font-size: inherit;
      }
    }

    &-text {
      p {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $primary-text;
        margin-bottom: 1rem;
      }

      a {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $primary-text;
      }
    }
  }
}

.payment__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-container {
    padding: 3rem;
    width: 90%;
    max-width: 40rem;
    background: #ffffff;
    //border-radius: 1.6rem;
    //box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  }

  &-title {
    padding: 0 3rem;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3.6rem;
    color: $primary-text;
    margin-bottom: 1rem;
  }

  &-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &-label {
      font-family: $primary-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $primary-text;
      margin-bottom: 1rem;
    }

    input {
      width: 90%;
      height: 4.8rem;
      background: #F2F2F2;
      border-radius: 1.6rem;
      border: none;
      padding: 0 1.6rem;
      font-family: $primary-font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $primary-text;
    }

    button {
      width: 100%;
      height: 4.8rem;
      background: $primary-element;
      border-radius: 1.6rem;
      border: none;
      padding: 0 1.6rem;
      font-family: $primary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $primary-text;
      margin-top: 2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background: $secondary-green;
      }

      //  disabled button
      &:disabled {
        background: #F2F2F2;
        color: #BFBFBF;
        cursor: not-allowed;
      }
    }
  }
}

.payment__return {
  text-align: center;
  margin-top: 2rem;

  a {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $primary-text;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-green;
    }
  }
}

.container__block__left__amountinfo {
  background: #69899B !important;
}

.completed-page {
  h1 {
    font-family: $primary-text;
    font-size: 5rem;
  }

  p {
    font-family: $primary-text;
    font-size: 3rem;
  }
}
.user-agreement {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 5000;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $primary-block;
    padding: 1rem 4rem;
    @media (max-width: 768px) {
      padding: 1rem 2rem !important;
    }
    span {
      font-size: 1.1rem;
      font-family: $primary-text;
      //color: $primary-text;
    }
    button {
      padding: .3rem 2rem;
      background: #69899B;
      color: #ffffff;
      cursor: pointer;
      border: none;
      font-size: 1.2rem;
      font-family: $primary-text;
      font-weight: 600;
      border-radius: 10px;
    }
  }
}

.document {
  margin: 0 auto;
}