//colors
$primary-text: #202020;
$second-text: #606060;
$primary-element: #DBC3DB;
$primary-block: #F9F7ED;
$secondary-blue: #69899B;
$secondary-green: #DAD299;
$secondary-red: #FAAC94;

//fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Playfair Display', serif;