@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Italic Bold';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/PlayfairDisplaySC-BoldItalic.ttf');
}

@font-face {
  font-family: 'Playfair Italic Regular';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/PlayfairDisplaySC-Italic.ttf');
}


@font-face {
  font-family: 'Raleway Regular';
  src: url('./fonts/Raleway-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway SemiBold';
  src: url('./fonts/Raleway-SemiBold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('./fonts/Raleway-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}