@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts.scss';

// .no-transition * {
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
//   transition: none !important;
// }

:root {
  --background-color: rgb(245, 245, 245);
  --pink-color: #dbc3db;
  --grey-color: #586d78;
  --white-color: #F9F7ED;
  --black-color: #1E1C1C;
  --playfair-regular: 'Playfair Display', serif;
  --playfair-italic-bold: 'Playfair Italic Bold', serif;
  --playfair-italic-regular: 'Playfair Italic Regular', serif;
  --raleway-regular: 'Raleway Regular', serif;
  --raleway-semibold: 'Raleway SemiBold', serif;
  --raleway-medium: 'Raleway Medium', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(66, 66, 66);
  }
}

body {
  font-family: var(--raleway-regular);
  color: rgb(51, 51, 51);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;

  @media (prefers-color-scheme: dark) {
    color: rgb(245, 245, 245);
  }
}

h1 {
  color: var(--black-color);
  font-size: 1.4rem;
  font-family: var(--playfair-regular);
  font-style: italic;
  // font-family: 'Playfair Italic Regular';

  @media (prefers-color-scheme: dark) {
    color: var(--white-color);
  }
}

.test-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.test-welcome-text {
  @media (prefers-color-scheme: dark) {
      color: rgb(245, 245, 245);
  }
}

// @keyframes background-animation {
//   0% {
//     background-color: var(--black-color);
//   }
//   50% {
//     background-color: rgb(56, 56, 56, .2);
//   }
//   100% {
//     background-color: var(--black-color);
//   }
// }

.start-test-btn {

  // animation-name: background-animation;
  // animation-duration: 3s;
  // animation-timing-function: ease-in-out;
  // animation-iteration-count: infinite;
  // animation-direction: alternate-reverse;

  background: var(--grey-color);
  color: var(--white-color);
  padding: .8rem 2rem;
  border-radius: 30px;
  border: 1px solid var(--grey-color);
  font-family: var(--playfair-regular);
  font-size: 1.1rem;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: transparent;
    color: var(--black-color);
  }

  @media (prefers-color-scheme: dark) {
      // color: rgb(245, 245, 245);
  }
}



.test-info {
  padding: .7rem;
  border: 1px solid var(--grey-color);

  box-shadow: 8px 8px 0px 0px var(--grey-color);
  // box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.74);
  p {
    line-height: 2;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 400;
    background: var(--grey-color);
    // color: var(--white-color);
    color: #fff;
    // letter-spacing: 1px;
  }
}