@import 'app/styles/variables.scss';

.main-section {
  padding: 2rem 3rem;
  font-family: $primary-font;
  border-bottom: 1px solid $primary-text;

  .course-title {
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.6rem;

    span {
      //display: inline-block;
      font-weight: 300;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .subtitle {
    margin-top: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $second-text;
  }

  .course-info {
    margin-top: 2rem;
    color: $primary-text;

    .course-info__item {
      margin: 1rem 0;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;


      span {
        margin-right: .5rem;
        font-size: inherit;
        line-height: inherit;
        font-style: inherit;
        font-weight: 800;
      }
    }
  }

  .course-button {
    margin: 2.5rem 0;
  }
}

.about-me {
  margin-top: 1.6rem;
  padding: 1rem 1.5rem 0 1.5rem;
  font-family: $primary-font;
  color: $primary-text;
  display: flex;
  flex-direction: row;

  &__text {

    padding-right: 1.5rem;

    &__name {
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 3.6rem;
    }

    &__description {
      margin-top: 1.5rem;
      font-style: italic;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.4rem;
    }

    &__degree {
      margin-top: .5rem;
      position: absolute;
      width: 45%;
      z-index: 1;

      .open-degree-info-btn {
        background: none;
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.4rem;
        color: $primary-text;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          path {
            fill: $primary-element;
          }
        }

        @media (max-width: 330px) {
          width: 40%;
        }
      }

      .degree-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
      }

      .degree-body {
        font-style: italic;
        font-weight: 400;
        line-height: 1.4rem;
        font-size: 1.4rem;
        padding-left: 1.6rem;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        &.animate {
          opacity: 1;
          transform: translateY(0);
        }

        li {
          margin-top: .5rem;
          font-size: 1.2rem;
        }
      }
    }

  }

  &__photo {
    position: relative;
    img {
      min-width: 160px;
      width: 100%;
      height: 305px;
      object-fit: cover;
      position: relative;
      z-index: 0;
    }

    &__circle {
      position: absolute;
      bottom: -5px;
      left: -20px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: $primary-element;
      z-index: 1;

      svg {
        position: absolute;
        right: -17px;
      }
    }
  }

  &-ellipse {
    position: absolute;
    width: 128px;
    height: 128px;
    background: $primary-block;
    border-radius: 50%;
    bottom: -90px;
    left: -60px;
    z-index: -1;
  }

}

@media (min-width: 768px) {
  .main-section {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem !important;
    border-bottom: none !important;
  }

  .course-title {
    text-align: center !important;
    font-size: 4rem !important;
    line-height: 6.6rem !important;
    padding: 0 1rem !important;
  }
  .course-info {
    margin: 3rem 0 !important;
  }
  .course-button {
    padding: 0 6rem !important;
  }
  .about-me {
    margin-top: 0;
    flex-direction: column-reverse !important;
    border-left: 1px solid $primary-text;
    padding: 0 !important;
    justify-content: space-between;
  }
  .about-me__photo {
    height: 65%;

    img {
      min-width: initial !important;
      object-fit: cover;
      height: 100% !important;
    }
  }

  .about-me__text {
    //height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 1rem 3rem !important;
  }
  .about-me__text__name {
    font-size: 3rem !important;
    line-height: 3.6rem !important;
  }
  .about-me__text__description {
    margin-top: 0.5rem !important;
    font-size: 1.4rem !important;
    line-height: 1.8rem !important;
  }
  .about-me__text__degree {
    position: static;
    width: 100%;
    //margin-top: 0 !important;
  }
  .about-me-ellipse {
    left: 10px !important;
  }
}

@media (min-width: 1200px) {
  .main-section {
    padding: 0 3rem !important;
  }
  .course-title {
    font-size: 6rem !important;
    line-height: 6.6rem !important;
  }
  .subtitle {
    font-size: 1.6rem !important;
    line-height: 2.2rem !important;
  }
}