.question {
  font-size: 1.5rem;
  position: relative;
  width: 100%;
  // overflow: hidden;
}
.fade-enter,
.fade-exit {
  position: absolute; /* Children are absolutely positioned */
  width: 100%;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.fade-exit {
  opacity: 0;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.question-number {
  color: var(--yellow-color);
  font-size: 0.9rem;
  .number {
    font-size: 1.4rem;
  }
}

.answer {
  -webkit-tap-highlight-color: transparent;
  font-size: 1.2rem;
  // box-shadow: 1px 2px 3px rgb(102, 102, 102, 0.2);
  background-color: transparent;
  border-radius: 6px;
  display: block;
  border: 1px solid rgb(102, 102, 102, 0.2);
  cursor: pointer;
  color: #1a1a1a;
  // font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  margin: 1.5rem auto;
  text-decoration: none;
  text-align: center;

  @media (min-width: 768px) {
    width: 70%;
    &:hover {
      background-color:var(--pink-color);
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
  }
  &-hover {
    background-color:var(--pink-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
  }

  &-answered {
    background-color: var(--pink-color);
    color: #fff;
    border: 1px solid var(--pink-color);
  }
}
